<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-hasheader">
    <div class="palm-header">
        Messaging Account Bypass
    </div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text">
    This app is a stub, and does nothing by itself. It provides a fake Synergy Messaging Account service, which tricks the Messaging app into thinking you're signed in to a Messaging service.<br>Once done, the Welcome screen is no longer shown, and you
    can use the Messaging app with a Bluetooth connection to a phone.<br>
    <p>Use the built-in <b>Accounts</b> app, usually found in Settings, to add a new "Messaging Account Bypass" account.<br>
        <b>For username:</b> use any valid email address.<br><b>For password:</b> any non-empty string.<br></p>
    A Luna restart may be required to fully cycle the Messaging app.
</div>